{% extends "charity/base.html" %}
{% load static %}

{% block title %} Login {% endblock %}

{% block content %}

{% block header %}
{% endblock %}

    <section class="login-page">
      <h2>Załóż konto</h2>
      <h1 style="color: darkorange">
        {% if messages %}
    {% for message in messages %}
        {%  if forloop.first  %}
                {{ message }}
        {% endif %}
    {% endfor %}
{% endif %}

      </h1>

      <form action="{% url 'charity:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" name="first_name" placeholder="Imię" />
        </div>
         <div class="form-group">
          <input type="text" name="last_name" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password1" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'charity:login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock %}