{% load static %}

  {% if request.user.is_authenticated  %}
              <li class="logged-user">
            Witaj {{user.first_name }}
            <ul class="dropdown">
              <li><a href="{% url 'charity:user-profile' %}">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
                {% if request.user.is_superuser %}
              <li><a href="/admin">Panel administracyjny</a></li>
                {% endif %}
              <li><a href="{% url 'charity:logout' %}">Wyloguj</a></li>
            </ul>
          </li>

  {% else %}
<li><a href="{% url 'charity:login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
<li><a href="{% url 'charity:register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>

  {% endif %}